/* left {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    max-width: 30%;
    height: 100vh;
}

.imgs {
    background-color: black;
    opacity:0.5
}

&::before {
    position: absolute;
    content: 'f';
    top: 0;
    right: 0;
    bottom: 0;
    opacity: 0.3;
    background-image: url("odin-logo.png"); 
    background-size: cover;
    background-position: top center;

} */

.image1 {
    display: flex;
    position: relative;
    top: 0;
    left: 0;
    border: 1px solid #000000;
    height: 723px;
}

.opaque {
    display: flex;
    position: absolute;
    top: 150px;
    /* left: 180px; */
    background-color: #000000;
    background-color: rgba(0, 0, 0, .5) ;
    min-width: 800px;
}

.split {
    height: 100%;
    width: 50%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    /* padding-top: 20px; */
}
  
  /* Control the left side */
.left {
    left: 0;
    background-color: rgb(227, 227, 227);
}
  
  /* Control the right side */
.right {
    right: 0;
    background-color: rgb(227, 227, 227);
}
  
.credit {
    position: absolute;
    top: 700px;
    left: 100px;
    color: white;
}

a {
    color: white;
}

.description {
    padding-left: 50px;
    max-width: 460px;
    padding-top: 100px;
    font-weight: bold;
    padding-bottom: 30px;
}

.form {
    padding-top: 20px;
    padding-left: 50px;
    background-color: white;
    box-shadow: 0 8px 6px -6px black;
    padding-bottom: 20px;
}
.left {
    max-width: 800px;
}

.right {
    font-size: 1.3rem;
    max-width: 850px;
}

body{
    font-family: Play;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.column {
        float: left;
        width: 50%;
}

button{
    padding: 10px;
    background-color: rgb(32, 106, 32);
    color: white;
    border-radius: 0.6rem;
    font-family: Play;
}

.log-in a {
    font-weight: bolder;
    color: rgb(32, 106, 32);
    text-decoration: none;
}

.account {
    padding-top: 50px;
    padding-left: 50px;
}

.create {
    padding-bottom: 20px;
}
